.UserOutput {
    width: 200px;
    height: 200px;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: lightcoral;
    padding: 30px;
    margin: 0 20px;
    border-radius: 5px;
    box-shadow: 0 3px 10px 0 gray;
}

.UserOutput p {
    font-size: 24px;
    font-weight: bold;
}