.red {
  color: red;
}

.bold {
  font-weight: bold;
}

.Cockpit button {
  border: 1px solid cornflowerblue;
  padding: 16px;
  background-color: lightseagreen;
  font: inherit;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 5px 8px 0 black;
}

.Cockpit button:hover {
  background-color: lightgreen;
  color: black;
}

.Cockpit button.Red {
  background-color: red;
}

.Cockpit button.Red:hover {
  background-color: tomato;
  color: black;
}